@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5fa;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: silver;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.underline {
  width: 8rem;
  border-top: 3px solid black;
  // margin-bottom: 2rem;
}

.banner-item {
  display: block;
  margin: 0.3rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.banner-item:hover img {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.ads {
  overflow: hidden;
  cursor: pointer;
}

.ads:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.text-center {
  text-align: center;
}

.ant-form-item-label {
  font-weight: 400 !important;
}

.color-white {
  color: white;
}

.ant-breadcrumb {
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 4rem;
  font-weight: 500;
}

.box-sd1 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.bg-white {
  background-color: #fff;
}

.mt-auto {
  margin-top: auto;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-12 {
  margin-top: 12rem;
}

.fw-500 {
  font-weight: 500;
}

.fs-16 {
  font-size: 1.6rem;
}
.w-100 {
  width: 100%;
}
.d-flex-center {
  display: flex;
  align-items: center;
}

.ant-comment-inner {
  border-bottom: 1px solid #f2f4f5;
}

.ant-descriptions-title {
  font-size: 1.8rem !important;
}

.btn-google {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}
