.best__discount-heading {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.best__discount-countdown {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  .timer {
    padding: 0 0.5rem;
    background-color: rgb(255, 66, 78);
    color: #fff;
    border-radius: 0.4rem;
    margin: 0 0.4rem;
  }
}

.best__discount-title {
  font-size: 2.3rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fc521d;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
}
