.corevalue {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 5rem;
    .fa-check-circle {
      color: #2ecc40;
    }
    .fa-headphones {
      color: #98b4d4;
    }
    .fa-history {
      color: #ff6f61;
    }

    .fa-truck-moving {
      color: #6b5b95;
    }
  }
  &__info {
    margin-left: 1rem;
    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
    }
    strong {
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
}
