.detail__post-wrapper {
  background-color: #fff;
  padding: 2rem;
  max-width: 90rem;
  margin: 0 auto;
}

.detail__post-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.detail__post-date {
  font-size: 1.5rem;
}
