.detail__product {
  margin-top: 11rem;
  padding: 2rem;

  &--name {
    margin-top: 1rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.7rem;
    .count-rating {
      margin-left: 1rem;
      font-weight: 400;
      color: #1890ff;
    }
  }
  &--info {
    padding: 2rem 0;
    border-bottom: 1px solid red;
  }
  &--price {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fd475a;
    del {
      margin-left: 2rem;
      font-size: 2rem;
      font-weight: 600;
      color: silver;
    }
  }

  .free-shipping {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .title {
    font-weight: 600;
  }

  &--edition {
    margin-top: 1.2rem;
  }

  &--color {
    margin-top: 1.5rem;
  }

  &--action {
    margin-top: 2rem;
  }
}

.product__image {
  &-thumb {
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid silver;
    margin-bottom: 1rem;
  }
  &-sub {
    display: flex;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    img {
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

.related-title {
  padding: 1rem 2rem;
  background-color: #fff;
  font-size: 1.8rem;
}

.hide-desc {
  max-height: 740px;
  overflow: hidden;
}

.show-more {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.show-more:hover {
  color: red;
  transform: scale(1.1);
}

.detail-info {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.detail-post {
  background-color: #fff;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.detail-technical {
  background-color: #fff;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.detail__product-name {
  font-size: 2rem;
  font-weight: 500;
}
