.forgot-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-form {
  position: relative;
  margin: 5rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4rem;
  min-width: 35rem;
  background-color: #fff;
}

.forgot-form-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn-forgot {
  width: 100%;
}

.forgot-password-back {
  top: 1rem;
  left: 0.4rem;
  position: absolute;
  font-size: 2rem;
  //   background-color: red;
  padding: 0.75rem;
  border-radius: 50%;
  &:hover {
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(241, 241, 241);
  }
}
