.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  &-wrapper {
    width: 100%;
    background-color: #fff;
  }
  .logo {
    font-size: 2rem;
    font-weight: 500;
    color: #1a2b5f;
    span {
      color: #ffc87a;
    }
  }
  .menu-icon {
    font-size: 2.4rem;
  }
  .anticon-menu {
    font-size: 2rem;
  }
}

.ant-input-search-button {
  border-radius: 0 2rem 2rem 0 !important;
  background-color: #1890ff !important;
  border: none;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #40a9ff !important;
  }
}
