.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &-wrapper {
    width: 100%;
    background-color: #fff;
    // margin-bottom: 2rem;
  }
  .logo {
    font-size: 2rem;
    font-weight: 500;
    color: #1a2b5f;
    span {
      color: #ffc87a;
    }
  }
  .menu-icon {
    font-size: 2.5rem;
  }
}
