.login-page {
  max-width: 42rem;
  margin: 13rem auto 4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem;
  background-color: #fff;

  .login-form-button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  .login__title {
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
  }
}
