.list__menu-horizontal {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 0.5rem;

  .menu-item {
    width: 10%;
  }

  .menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      font-size: 3rem;
    }
    span {
      margin-top: auto;
      font-weight: 400;
    }
  }
}
